In [1]:
# get data from web source
# https://www.worldometers.info/world-population/population-by-country/

In [1]:
import pandas as pd, numpy as np, requests

print("Done")

Done

In [11]:
filepath = "./world_by_country.csv"

tables = pd.read_csv(filepath, delimiter="\t")

In [12]:
tables.head()

,#,Country(or_dependency),Population(2020),Yearly_Change,Net_Change,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,World Share
0,1,China,"1,439,323,776",0.39 %,"5,540,090",153,"9,388,211","-348,399",1.7,38,61 %,18.47 %
1,2,India,"1,380,004,385",0.99 %,"13,586,631",464,"2,973,190","-532,687",2.2,28,35 %,17.70 %
2,3,United States,"331,002,651",0.59 %,"1,937,734",36,"9,147,420","954,806",1.8,38,83 %,4.25 %
3,4,Indonesia,"273,523,615",1.07 %,"2,898,047",151,"1,811,570","-98,955",2.3,30,56 %,3.51 %
4,5,Pakistan,"220,892,340",2.00 %,"4,327,022",287,"770,880","-233,379",3.6,23,35 %,2.83 %

In [13]:
# \t - used for space delimiter
# export the table to excel using, pd.to_excel

In [14]:
tables.to_excel("world_population.xlsx")

In [ ]:
# Export Done