# Time Series

### Table of Contents:
1. What makes Time Series Special?
2. Loading and Handling Time Series in Pandas
3. How to Check Stationarity of a Time Series?
4. How to make a Time Series Stationary?
5. Forecasting a Time Series

## 1. What makes Time Series Special?
As the name suggests, TS is a collection of data points collected at constant time intervals. These are analyzed to determine the long term trend so as to forecast the future or perform some other form of analysis. But what makes a TS different from say a regular regression problem? There are 2 things:

1. It is time dependent. So the basic assumption of a linear regression model that the observations are independent doesn’t hold in this case.
2. Along with an increasing or decreasing trend, most TS have some form of seasonality trends, i.e. variations specific to a particular time frame. For example, if you see the sales of a woolen jacket over time, you will invariably find higher sales in winter seasons.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 

print("Done")

Done

In [3]:
file_path = "../datasets/AirPassengers.csv"
df = pd.read_csv(file_path)
df.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [7]:
df.set_index(df['Month'], inplace=True)

In [9]:
del df['Month']

In [10]:
df

         #Passengers
Month
1949-01          112
1949-02          118
1949-03          132
1949-04          129
1949-05          121
...              ...
1960-08          606
1960-09          508
1960-10          461
1960-11          390
1960-12          432

[144 rows x 1 columns]