In [3]:
from __future__ import print_function
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os.path
from collections import defaultdict
import string
import requests
import pygal 
import seaborn as sns
print("Done")

Done

In [5]:
# load dataset from seaborn 
exc = sns.load_dataset('exercise')

In [7]:
del exc["Unnamed: 0"]

In [8]:
exc

    id     diet  pulse    time     kind
0    1  low fat     85   1 min     rest
1    1  low fat     85  15 min     rest
2    1  low fat     88  30 min     rest
3    2  low fat     90   1 min     rest
4    2  low fat     92  15 min     rest
..  ..      ...    ...     ...      ...
85  29   no fat    135  15 min  running
86  29   no fat    130  30 min  running
87  30   no fat     99   1 min  running
88  30   no fat    111  15 min  running
89  30   no fat    150  30 min  running

[90 rows x 5 columns]

In [9]:
from pygal.style import LightStyle

In [10]:
bar_chart = pygal.Bar(style=LightStyle, width=800, height=600,
                      legend_at_bottom=True, human_readable=True,
                      title='Exercise Patterns and Cardio Diease')

In [11]:
for index, row in exc.iterrows():
    bar_chart.add(row["diet"], row["pulse"])

In [13]:
bar_chart.render_to_file('budget.svg')
# bar_chart.render_to_png('budget.png')

In [23]:
# create a pivot table 
table = pd.pivot_table(exc, index=['kind','diet'], values=['pulse'], aggfunc=[np.mean,len])

In [28]:
table.query("diet == ['no fat']")

                      mean   len
                     pulse pulse
kind    diet
rest    no fat   92.333333    15
walking no fat   96.933333    15
running no fat  121.066667    15

In [30]:
x=0