# Duplicates

In [2]:
## checking duplicate values is simple. however the behaviour varies btw Series and DataFrames

In [3]:
# set up environment
import numpy as np
import pandas as pd
print("Setup complete")

Setup complete

In [6]:
#Series
ambassadors = pd.Series([
    'France',
    'UK',
    'UK',
    'Italy',
    'Germany',
    'Germany',
    'Germany',
], index=[
    'Gerad Araud',
    'Kim Darroch',
    'Peter Westmacott',
    'Armando Varricho',
    'Peter Witing',
    'Peter Amoh',
    'Klaus Bergie'
])

In [7]:
ambassadors

Gerad Araud          France
Kim Darroch              UK
Peter Westmacott         UK
Armando Varricho      Italy
Peter Witing        Germany
Peter Amoh          Germany
Klaus Bergie        Germany
dtype: object

In [8]:
# duplicated() tells you which values are duplicates
# drop_duplicates() just drops the duplicates

In [9]:
ambassadors.duplicated()

Gerad Araud         False
Kim Darroch         False
Peter Westmacott     True
Armando Varricho    False
Peter Witing        False
Peter Amoh           True
Klaus Bergie         True
dtype: bool

In [10]:
# the method checks from top to bottom 
# duplicated doesnt consider the first occurence by default 
# kim darroch and peter witing

In [12]:
# alternatively, use the keep parameter to specify 'first' or 'last' occurence
# use keep=False to mark all duplicates  
ambassadors.duplicated(keep='last')

Gerad Araud         False
Kim Darroch          True
Peter Westmacott    False
Armando Varricho    False
Peter Witing         True
Peter Amoh           True
Klaus Bergie        False
dtype: bool

In [14]:
ambassadors.duplicated(keep=False) #tells us all the duplicates

Gerad Araud         False
Kim Darroch          True
Peter Westmacott     True
Armando Varricho    False
Peter Witing         True
Peter Amoh           True
Klaus Bergie         True
dtype: bool

## Dropping duplicates

In [16]:
ambassadors.drop_duplicates() # default, keeps the first occurence

Gerad Araud          France
Kim Darroch              UK
Armando Varricho      Italy
Peter Witing        Germany
dtype: object

In [17]:
ambassadors.drop_duplicates(keep='last')

Gerad Araud          France
Peter Westmacott         UK
Armando Varricho      Italy
Klaus Bergie        Germany
dtype: object

In [19]:
ambassadors.drop_duplicates(keep=False) # removes all duplicates

Gerad Araud         France
Armando Varricho     Italy
dtype: object

## Duplicates in DataFrames

In [24]:
players = pd.DataFrame({
    'Name': [
        'Christiano Ronaldo',
        'Lionel Mercy',
        'Thiago Silver',
        'Lionel Mercy',
        'Lukaku',
        'Lionel Mercy'
    ],
    'Pos': [
        'FW',
        'FW',
        'GK',
        'FW',
        'ST',
        'ST'
    ]
})

In [23]:
df # Aside from duplication in the names, there is also duplication in the positions 
# the dataframe can treat each column differently

                 Name Pos
0  Christiano Ronaldo  FW
1        Lionel Mercy  FW
2       Thiago Silver  GK
3        Lionel Mercy  FW
4              Lukaku  ST
5        Lionel Mercy  ST

In [27]:
players.duplicated() #this matched both columns to check 
# notice the last columns is slightly different from the 1 and 3
# between 1 and 3, 3 is the duplicate

0    False
1    False
2    False
3     True
4    False
5    False
dtype: bool

In [28]:
players.duplicated(subset=["Name"])

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool

In [29]:
players.duplicated(subset=["Name"], keep='last')

0    False
1     True
2    False
3     True
4    False
5    False
dtype: bool

In [31]:
# drop duplicates 
#works the same way

players.drop_duplicates()

                 Name Pos
0  Christiano Ronaldo  FW
1        Lionel Mercy  FW
2       Thiago Silver  GK
4              Lukaku  ST
5        Lionel Mercy  ST