In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 

%matplotlib inline 
print("Done")

Done

In [7]:
url = "../datasets/World_Bank_CO2.xlsx"
data = pd.read_excel(url, sheet_name="CO2 Data Cleaned")

In [9]:
data.tail(2)

,Country Code,Country Name,Region,Year,CO2 (kt),CO2 Per Capita (metric tons)
11125,ZWE,Zimbabwe,Sub-Saharan Africa,2010,9028.154,0.646073
11126,ZWE,Zimbabwe,Sub-Saharan Africa,2011,9860.563,0.691698

In [10]:
data.shape

(11127, 6)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country Code                  11127 non-null  object
 1   Country Name                  11127 non-null  object
 2   Region                        11127 non-null  object
 3   Year                          11127 non-null  int64
 4   CO2 (kt)                      9032 non-null   float64
 5   CO2 Per Capita (metric tons)  9029 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 521.7+ KB

In [13]:
data.describe()

               Year      CO2 (kt)  CO2 Per Capita (metric tons)
count  11127.000000  9.032000e+03                   9029.000000
mean    1985.502292  9.860744e+04                      4.340822
std       15.007733  4.663998e+05                      7.560692
min     1960.000000  3.667000e+00                      0.000580
25%     1973.000000  5.940540e+02                      0.348972
50%     1986.000000  4.327060e+03                      1.450587
75%     1998.500000  3.992446e+04                      5.953205
max     2011.000000  9.019518e+06                     99.840439

In [15]:
data.isnull().sum()

Country Code                       0
Country Name                       0
Region                             0
Year                               0
CO2 (kt)                        2095
CO2 Per Capita (metric tons)    2098
dtype: int64

In [16]:
data.columns

Index(['Country Code', 'Country Name', 'Region', 'Year', 'CO2 (kt)',
       'CO2 Per Capita (metric tons)'],
      dtype='object')

In [21]:
data["Country Name"].unique()

array(['Aruba', 'Andorra', 'Afghanistan', 'Angola', 'Albania',
       'United Arab Emirates', 'Argentina', 'Armenia', 'American Samoa',
       'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan',
       'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Bahrain', 'Bahamas, The', 'Bosnia and Herzegovina',
       'Belarus', 'Belize', 'Bermuda', 'Bolivia', 'Brazil', 'Barbados',
       'Brunei Darussalam', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland',
       'Channel Islands', 'Chile', 'China', "Cote d'Ivoire", 'Cameroon',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Cuba', 'Curacao', 'Cayman Islands', 'Cyprus', 'Czech Republic',
       'Germany', 'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic',
       'Algeria', 'Ecuador', 'Egypt, Arab Rep.', 'Eritrea', 'Spain',
       'Estonia', 'Ethiopia', 'Finland', 'Fiji', 'France',
       'Faroe Islands', 'Micronesia, Fed. Sts.', 'Gabon',
       'United Kingdom', 'Georgia', 'Ghana', 'Guinea', 'Gambia, The',
       'Guinea-Bissau', 'Equatorial Guinea', 'Greece', 'Grenada',
       'Greenland', 'Guatemala', 'Guam', 'Guyana', 'Hong Kong SAR, China',
       'Honduras', 'Croatia', 'Haiti', 'Hungary', 'Indonesia',
       'Isle of Man', 'India', 'Ireland', 'Iran, Islamic Rep.', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Lao PDR', 'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Liechtenstein', 'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg',
       'Latvia', 'Macao SAR, China', 'St. Martin (French part)',
       'Morocco', 'Monaco', 'Moldova', 'Madagascar', 'Maldives', 'Mexico',
       'Marshall Islands', 'Macedonia, FYR', 'Mali', 'Malta', 'Myanmar',
       'Montenegro', 'Mongolia', 'Northern Mariana Islands', 'Mozambique',
       'Mauritania', 'Mauritius', 'Malawi', 'Malaysia', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'New Zealand', 'Oman', 'Pakistan', 'Panama',
       'Peru', 'Philippines', 'Palau', 'Papua New Guinea', 'Poland',
       'Puerto Rico', 'Korea, Dem. Peopleâ€™s Rep.', 'Portugal', 'Paraguay',
       'French Polynesia', 'Qatar', 'Romania', 'Russian Federation',
       'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore',
       'Solomon Islands', 'Sierra Leone', 'El Salvador', 'San Marino',
       'Somalia', 'Serbia', 'South Sudan', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Swaziland',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan', 'Timor-Leste', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania',
       'Uganda', 'Ukraine', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'Virgin Islands (U.S.)', 'Vietnam', 'Vanuatu',
       'West Bank and Gaza', 'Samoa', 'Yemen, Rep.', 'South Africa',
       'Congo, Dem. Rep.', 'Zambia', 'Zimbabwe'], dtype=object)

In [24]:
no_countries = len(data["Country Name"].unique())
print(f"There are {no_countries} different countries in this report")

There are 214 different countries in this report