In [1]:
#Welcome to Numpy

In [2]:
#NUMPY - NUMERICAL PYTHON 
#STANDARD PYTHON LIBRARY FOR SCIENTIFIC AND NUMERICAL COMPUTING

In [3]:
#FEATURES 
#NUMPY ARRAYS - 2 main types or flavors 
# vectors, these are 1-d arrays 
# matrix, these are 2-d arrays

In [4]:
import numpy

In [5]:
#create a list 
l1 = [1,4,8,12]
ar2 = numpy.array(l1)

In [6]:
#1-d array 
ar2

array([ 1,  4,  8, 12])

In [7]:
#2d array 
l2 = [[1,4,8,12], [1,2,3,4]]

In [8]:
ar2 = numpy.array(l2)

In [9]:
ar2

array([[ 1,  4,  8, 12],
       [ 1,  2,  3,  4]])

In [10]:
#properties of 2-d 
#on viewing, notice the 2 square brackets

In [11]:
#simplify your imports by renaming 
import numpy as np

In [12]:
np.arange(0, 10) #creates an array with the range specified -1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
#optional 3 arg, for the STEP SIZE  

np.arange(0,11, 2)

array([ 0,  2,  4,  6,  8, 10])

In [14]:
#other arrays you can create are:
# array of zeros
# array of ones

In [15]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [16]:
np.ones(5)

array([1., 1., 1., 1., 1.])

In [17]:
#creating a 2-d array with ones 

np.ones((3,4)) #3rows, 4values each

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [18]:
#create other arrays using linspace method
# np.linspace(lower_bound, upper_bound,no_of_values)

In [19]:
np.linspace(1,11,100)

array([ 1.        ,  1.1010101 ,  1.2020202 ,  1.3030303 ,  1.4040404 ,
        1.50505051,  1.60606061,  1.70707071,  1.80808081,  1.90909091,
        2.01010101,  2.11111111,  2.21212121,  2.31313131,  2.41414141,
        2.51515152,  2.61616162,  2.71717172,  2.81818182,  2.91919192,
        3.02020202,  3.12121212,  3.22222222,  3.32323232,  3.42424242,
        3.52525253,  3.62626263,  3.72727273,  3.82828283,  3.92929293,
        4.03030303,  4.13131313,  4.23232323,  4.33333333,  4.43434343,
        4.53535354,  4.63636364,  4.73737374,  4.83838384,  4.93939394,
        5.04040404,  5.14141414,  5.24242424,  5.34343434,  5.44444444,
        5.54545455,  5.64646465,  5.74747475,  5.84848485,  5.94949495,
        6.05050505,  6.15151515,  6.25252525,  6.35353535,  6.45454545,
        6.55555556,  6.65656566,  6.75757576,  6.85858586,  6.95959596,
        7.06060606,  7.16161616,  7.26262626,  7.36363636,  7.46464646,
        7.56565657,  7.66666667,  7.76767677,  7.86868687,  7.96969697,
        8.07070707,  8.17171717,  8.27272727,  8.37373737,  8.47474747,
        8.57575758,  8.67676768,  8.77777778,  8.87878788,  8.97979798,
        9.08080808,  9.18181818,  9.28282828,  9.38383838,  9.48484848,
        9.58585859,  9.68686869,  9.78787879,  9.88888889,  9.98989899,
       10.09090909, 10.19191919, 10.29292929, 10.39393939, 10.49494949,
       10.5959596 , 10.6969697 , 10.7979798 , 10.8989899 , 11.        ])

In [20]:
#Question 
#Is the array generated above 1-d or 2-d ?
# Answer = 1-d (only 1 square bracket)

In [21]:
#check the type of array using the shape method 
ar3 = np.linspace(1,11,100)
ar3.shape

(100,)

In [22]:
#Check shape of ar2 (2-d)
ar2.shape

(2, 4)

In [23]:
#check datatypes using the dtype() method

In [24]:
print(ar2.dtype)

int32

In [25]:
print(ar3.dtype)

float64

In [26]:
#find the max and min values in an array using the 
# max and min functns

ar2.min()

1

In [27]:
ar3.max()

11.0

In [28]:
#find the position using argmax or argmin
# 
# ar3.argmax()
ar3.argmax() 
ar3.argmin()

0

In [29]:
#Generating random values (btw 0 and 1)
rd1 = np.random.rand(3)

In [30]:
#Question generate random values between 0 and 10 
import numpy as np
rnd10 = np.floor(1 + np.random.randn(10) * 10)
rnd10

array([  7.,   4., -23.,   5.,   7.,   5.,   7.,  18.,  -8.,   4.])

In [31]:
print(rd1) #generates 3 random values btw 0 and 1 as a single 1-d array

[0.93464102 0.93763056 0.21719006]

In [32]:
rd2 = np.random.rand(3,3)
print(rd2) #generates a 2-d array with 3 random values / 3 rows

[[0.30865085 0.96892398 0.01865658]
 [0.82138708 0.80869615 0.13078929]
 [0.74291232 0.0804167  0.6115506 ]]

In [33]:
#create a random, normal distribution 
rd3 = np.random.randn(3,3)
print(rd3)

[[ 0.6622206   0.79472848 -1.90778536]
 [-0.7670283  -0.45301688  1.44293353]
 [ 1.45658598  0.6481234  -1.10544238]]

In [34]:
#create a random, normal distribution 
rd4 = np.random.randint(1,100,10) #starting/ base value, max value, no_of_total values 
print(rd4)

[39 99 77 31 90 31 33 10 97  3]

In [35]:
#Manipulating arrays 
#Example 
ar4 = np.arange(5,101,5)

In [36]:
ar4 
#result is a 1-d array with 20 values 
#this is a vector

array([  5,  10,  15,  20,  25,  30,  35,  40,  45,  50,  55,  60,  65,
        70,  75,  80,  85,  90,  95, 100])

In [37]:
ar4.reshape(5,4)
#reshape to a 2-d array with same 20 values 
# rows 5, values per row 4 
# this is a matrix

array([[  5,  10,  15,  20],
       [ 25,  30,  35,  40],
       [ 45,  50,  55,  60],
       [ 65,  70,  75,  80],
       [ 85,  90,  95, 100]])

In [38]:
#Use the shape method to confirm 
ar4.shape

(20,)

In [39]:
ar4b = ar4.reshape(5,4)

In [40]:
ar4b.size

20

In [41]:
ar4b.shape

(5, 4)

In [42]:
#slicing 
#index numbering is key 
ar4b[1:3,2:4]

array([[35, 40],
       [55, 60]])

In [43]:
#1:3 signifies rows 
#sliced from the 1 row to the 3rd row, 3 excluded so just row 1 and 2.import
#Note rows start from zero, 0

In [44]:
#2:4 signifies cols
#sliced from col 2 to 4, col 4 excluded so just 2 and 3. 
#Cols also start from index 0

In [45]:
#more slicing 
ar4b[3,:] #returns the entire 4th row

array([65, 70, 75, 80])

In [46]:
arrslice = ar4b[3,:] #holds sam values and structure

In [47]:
#change values by:
arrslice[:] = 100
arrslice

array([100, 100, 100, 100])

In [48]:
#this action will change the original array as it is not a true copy 
ar4b

array([[  5,  10,  15,  20],
       [ 25,  30,  35,  40],
       [ 45,  50,  55,  60],
       [100, 100, 100, 100],
       [ 85,  90,  95, 100]])

In [49]:
#Make a true copy 
ar4c = ar4.reshape(5,4)
arrcopy = ar4c.copy() #true copy

In [50]:
#test the copied arrays
arrcopy

array([[  5,  10,  15,  20],
       [ 25,  30,  35,  40],
       [ 45,  50,  55,  60],
       [100, 100, 100, 100],
       [ 85,  90,  95, 100]])

In [51]:
arrcopy[:] = 100

In [52]:
arrcopy

array([[100, 100, 100, 100],
       [100, 100, 100, 100],
       [100, 100, 100, 100],
       [100, 100, 100, 100],
       [100, 100, 100, 100]])

In [53]:
ar4

array([  5,  10,  15,  20,  25,  30,  35,  40,  45,  50,  55,  60, 100,
       100, 100, 100,  85,  90,  95, 100])

In [54]:
#comparison operators 
ar4 > 50

array([False, False, False, False, False, False, False, False, False,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [55]:
#create 2 arrays and test arithmetic operations 
arr1 = np.arange(0,11)
arr2 = np.arange(0,21,2)

In [56]:
#check the size to make sure they are same 
arr2.size

11

In [57]:
arr1 + arr2

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30])

In [58]:

arr1 * arr2

array([  0,   2,   8,  18,  32,  50,  72,  98, 128, 162, 200])

In [59]:
arr1 - arr2

array([  0,  -1,  -2,  -3,  -4,  -5,  -6,  -7,  -8,  -9, -10])

In [60]:
arr1/arr2

array([nan, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5])

ZeroDivisionError: division by zero