In [1]:
# Churn Modelling Dataset

In [2]:
#Environment set up
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns 

print("Setup complete")

Setup complete

In [5]:
file_path = '../datasets/churnmodeling.csv'
data = pd.read_csv(file_path)
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

# Questions

In [6]:
# determine country spread 
# determine creditworthiness

## Customer churn is a problem 
Customer attrition, also known as customer churn, customer turnover, or customer defection, is the loss of clients or customers.

SaaS companies are relying on their customer success professionals to mitigate the problem of customer churn. This proactive approach to customer churn necessarily relies on the analysis of data. In fact, in our recent study, we found that two-thirds of companies with formal customer programs (including customer success programs) are leveraging data scientists to help them make sense of their data.

## Data Science
Data science is a method of extracting insights from data. The goal of a data scientist is to derive empirically-based insights that augment and enhance human decisions and algorithms. Rather than conceptualizing data science as a body of knowledge or facts, consider it as a way to think about the world. The data science approach brings three broad skills to bear on problems, including 1) subject matter expertise, 2) technology and programming skills and 3) statistics. In data-intensive projects, the application of these three skills helps you ask the right questions, access the right data and analyze the data to answer the questions, respectively.

## Descriptive and Predictive Analytics Power Insights
Broadly speaking, data scientists utilize two different types of analytics when getting value from their data: 1) descriptive and 2) predictive. The purpose of descriptive analytics is to summarize historical trends in the data that inform you about the current state of the world. The purpose of predictive analytics, on the other hand, is to predict the future or to be able to predict data that we don’t have.

Equipped with these two broad types of analytics, data scientists are able to answer a variety of different types of questions. While data scientists can utilize descriptive analytics for simple questions, their primary value is seen when they answer questions that are predictive in nature. Here are five ways data scientists extract insights from data. Data scientists can:

1. identify current state of affairs (means/percentages)
2. predict what will happen in the future (regression)
3. use algorithms to score people (classification)
4. identify naturally occurring groups (cluster)
5. identify treatments that are more/most effective (experimentation; A/B testing)

## Questions to ask 
1. What is our current customer churn rate?
- Computing your churn rate is a good first step toward understanding the health of the customer relationship and what you need to do to improve (or maintain) that health. Calculating your current churn rate helps you understand if you have a churn problem. Additionally, you can look at historical trends to gauge whether your current churn rate has improved or worsened. Finally, to know if your churn management efforts are effective tomorrow, you need to know where your churn stands today.
2. What are the main causes of customer churn?
- To fix a customer churn problem, you first need to identify the underlying reasons why your customers are leaving you. Data scientists, using historical data, build models to predict customer churn. These statistical models help quantify the degree to which different factors are responsible for customer churn. These factors could include: 1) how customers use the product, 2) customers’ interactions with the company – via support, 3) customer sentiment and more.
3. Which specific customers are at risk for churning?
- Answering this question helps customer success leaders take a proactive approach to dealing with customer churn. Data scientists apply the model (question 2) to new customers to classify/identify customers who are likely to churn in the future. The model uses each customer’s information (e.g., product usage, interactions with the company, web visits) to classify each customer into one of two groups: 1) likely to stay and 2) likely to churn. Customer success leaders can use this information to reach out to at risk customers to save those relationships.
4. How should we segment our customers?
- Traditionally, companies segment their customers based on demographic information, including geographical location, age and gender, to name a few. Now, data scientists can leverage existing customer data to create customer segments based on their underlying value to the company. By applying sophisticated analytics (e.g., cluster analysis) to the data, data scientists can group customers into smaller, homogeneous segments, each defined by specific characteristics (their values, product usage, social media, etc) as they relate to their likelihood of churning. By identifying high-value customers and what makes them tick, customer success leaders can then target prospects that match their characteristics. The hope is that bringing on new customers who have the same characteristics as your most valued, current customers will lead to higher future retention rates.
5. Which marketing campaign is more effective at reducing churn?
- Marketing collateral can be used to attract new customers or save/incentivize existing relationships. After customer segments have been created or after the at-risk (of churning) customers have been identified, the next step is to proactively reach out to them to either attract specific types of customers or save existing relationships, respectively. Different marketing campaigns can be tested against each other to identify which one results in the lowest churn rates. Actual experimentation (e.g., A/B testing) are conducted to test the efficacy of different campaigns.

Although the current post focused on the problem of customer churn, similar questions can be asked about other customer metrics, including average revenue per customer, conversions (from free to paid) and recommendations.