In [1]:
#PANDAS - Python for Data Analysis

In [4]:
import numpy as np
import pandas as pd

In [5]:
s = pd.Series([2,4,5,np.nan, 6, 8])

In [6]:
s

0    2.0
1    4.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [9]:
#Create a dataframe, use a numpy array 
#use a datetime index and labeled columns
dates = pd.date_range("20210201", periods=6)
dates

DatetimeIndex(['2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04',
               '2021-02-05', '2021-02-06'],
              dtype='datetime64[ns]', freq='D')

In [17]:
#create a numpy array 
#store the array in a dataframe / table
#create a random, normal distribution using np.random.randn
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('1234'))

In [18]:
df

                   1         2         3         4
2021-02-01 -1.104620  0.209578  1.523549  0.054045
2021-02-02 -1.140251 -1.140208  0.855882 -0.802328
2021-02-03 -0.254716 -0.333149  2.118381 -0.844298
2021-02-04  0.054898  0.890802  0.563422  1.282394
2021-02-05 -0.917582 -0.616780  0.419191 -0.472767
2021-02-06  0.481009  1.862066 -0.851675 -1.023799

In [19]:
#Example 2
#Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [20]:
df2 = pd.DataFrame(
        {
            "A": 1.0,
            "B": pd.Timestamp("20130102"),
            "C": pd.Series(1, index=list(range(4)), dtype="float32"),
            "D": np.array([3] * 4, dtype="int32"),
            "E": pd.Categorical(["test", "train", "test", "train"]),
            "F": "foo",
       }
   )

In [21]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [22]:
#check the types 
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [23]:
#Getting data from the dataframe
df['1']

2021-02-01   -1.104620
2021-02-02   -1.140251
2021-02-03   -0.254716
2021-02-04    0.054898
2021-02-05   -0.917582
2021-02-06    0.481009
Freq: D, Name: 1, dtype: float64

In [26]:
#slicing data 
df[0:2]

                   1         2         3         4
2021-02-01 -1.104620  0.209578  1.523549  0.054045
2021-02-02 -1.140251 -1.140208  0.855882 -0.802328

In [27]:
df["20210202":"20210204"]

Empty DataFrame
Columns: [1, 2, 3, 4]
Index: []