In [3]:
#PANDAS - Python for Data Analysis

In [4]:
import numpy as np
import pandas as pd

In [5]:
s = pd.Series([2,4,5,np.nan, 6, 8])

In [6]:
s

0    2.0
1    4.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
#Create a dataframe, use a numpy array 
#use a datetime index and labeled columns
dates = pd.date_range("20210201", periods=6)
dates

DatetimeIndex(['2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04',
               '2021-02-05', '2021-02-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
#create a numpy array 
#store the array in a dataframe / table
#create a random, normal distribution using np.random.randn
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('1234'))

In [9]:
df

                   1         2         3         4
2021-02-01  0.367926 -1.399570 -0.338327  1.410827
2021-02-02 -2.480777 -0.365893  0.121669 -0.658830
2021-02-03 -1.998731  0.893579 -0.766670 -1.172135
2021-02-04 -2.446121  2.661468 -0.317899  1.229516
2021-02-05  0.144196  0.578560 -1.091853  0.201889
2021-02-06  0.040382 -1.486356  1.803166 -1.526103

In [10]:
#Example 2
#Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [11]:
df2 = pd.DataFrame(
        {
            "A": 1.0,
            "B": pd.Timestamp("20130102"),
            "C": pd.Series(1, index=list(range(4)), dtype="float32"),
            "D": np.array([3] * 4, dtype="int32"),
            "E": pd.Categorical(["test", "train", "test", "train"]),
            "F": "foo",
       }
   )

In [12]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [13]:
#check the types 
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [14]:
#Getting data from the dataframe
df['1']

2021-02-01    0.367926
2021-02-02   -2.480777
2021-02-03   -1.998731
2021-02-04   -2.446121
2021-02-05    0.144196
2021-02-06    0.040382
Freq: D, Name: 1, dtype: float64

In [15]:
#slicing data 
df[0:2]

                   1         2         3         4
2021-02-01  0.367926 -1.399570 -0.338327  1.410827
2021-02-02 -2.480777 -0.365893  0.121669 -0.658830

In [16]:
df["20210202":"20210204"]

                   1         2         3         4
2021-02-02 -2.480777 -0.365893  0.121669 -0.658830
2021-02-03 -1.998731  0.893579 -0.766670 -1.172135
2021-02-04 -2.446121  2.661468 -0.317899  1.229516

In [17]:
#Data Structures in PANDAS 
#Series
'''Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. The basic method to create a Series is to call:'''

'Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. The basic method to create a Series is to call:'

In [18]:
# s = pd.Series(data, index=index)
#Here data can be: A scalar value(like 5), an ndarray, a python dict

In [19]:
s1 = pd.Series(5)
s1

0    5
dtype: int64

In [20]:
#From ndarray
#If data is an ndarray, index must be the same length as data. If no index is passed, one will be created having values [0, ..., len(data) - 1].
s2 = pd.Series(np.random.randn(5), index=["a","b","c","d","e"])
s2

a    0.168036
b   -1.572322
c   -0.596220
d    0.442110
e   -1.521871
dtype: float64

In [21]:
s2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [22]:
#Creating a Series with a python dictionary
dict1 = {"b": 1, "a":0, "c": 2}
dict1

{'b': 1, 'a': 0, 'c': 2}

In [23]:
pd.Series(dict1) 
#note the indexing

b    1
a    0
c    2
dtype: int64

In [24]:
#we can pass in specific indexes
pd.Series(dict1, index=["b", "c", "d", "a"])
#notice the new indexing arrangement and the addition of 'd' results in NaN

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [25]:
#DataFrames 
#Creating and Viewing the Data

In [39]:
df3 = pd.DataFrame(np.random.rand(10,4)*10, index=dates, columns=list('ABCD'))

ValueError: Shape of passed values is (4, 10), indices imply (4, 6)

In [40]:
#a random table of values  
df3

                   A         B         C         D
2021-02-01  9.065516  0.166762  1.559629  4.752614
2021-02-02  5.265075  0.502876  1.678119  6.734184
2021-02-03  5.348717  5.636934  3.921565  4.462398
2021-02-04  1.607190  4.812389  0.147881  0.216569
2021-02-05  3.292918  0.523858  8.121086  9.365255
2021-02-06  0.353386  5.316543  0.355391  1.627293

In [43]:
#view the first 5 or last five rows using head() or tail()
#df3.head()
df3.tail()

                   A         B         C         D
2021-02-02  5.265075  0.502876  1.678119  6.734184
2021-02-03  5.348717  5.636934  3.921565  4.462398
2021-02-04  1.607190  4.812389  0.147881  0.216569
2021-02-05  3.292918  0.523858  8.121086  9.365255
2021-02-06  0.353386  5.316543  0.355391  1.627293

In [44]:
#display the index columns
df3.index

DatetimeIndex(['2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04',
               '2021-02-05', '2021-02-06'],
              dtype='datetime64[ns]', freq='D')

In [45]:
#display the column headers 
df3.columns

Index(['A', 'B', 'C', 'D'], dtype='object')