In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('../datasets/housing.csv')

In [6]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [8]:
pd.melt(df, id_vars=['total_rooms'], value_vars=["longitude", "latitude"])

       total_rooms   variable   value
0            880.0  longitude -122.23
1           7099.0  longitude -122.22
2           1467.0  longitude -122.24
3           1274.0  longitude -122.25
4           1627.0  longitude -122.25
...            ...        ...     ...
41275       1665.0   latitude   39.48
41276        697.0   latitude   39.49
41277       2254.0   latitude   39.43
41278       1860.0   latitude   39.43
41279       2785.0   latitude   39.37

[41280 rows x 3 columns]