In [1]:
#Using pandas 
#Import files from different sources 
#CSV #Excel #JSON 
#Export files n same formats

In [2]:
import numpy as np
import pandas as pd

In [9]:
swapi_df = pd.read_json('https://swapi.dev/api/people/?page/1')

In [11]:
swapi_df.head()

,count,next,previous,results
0,82,http://swapi.dev/api/people/?page%2F1=&page=2,NaN,"{'name': 'Luke Skywalker', 'height': '172', 'm..."
1,82,http://swapi.dev/api/people/?page%2F1=&page=2,NaN,"{'name': 'C-3PO', 'height': '167', 'mass': '75..."
2,82,http://swapi.dev/api/people/?page%2F1=&page=2,NaN,"{'name': 'R2-D2', 'height': '96', 'mass': '32'..."
3,82,http://swapi.dev/api/people/?page%2F1=&page=2,NaN,"{'name': 'Darth Vader', 'height': '202', 'mass..."
4,82,http://swapi.dev/api/people/?page%2F1=&page=2,NaN,"{'name': 'Leia Organa', 'height': '150', 'mass..."

In [12]:
import json 
import pandas as pd
from pandas.io.json import json_normalize as jsn

In [14]:
with open('../datasets/swapi.json') as f:
    d = json.load(f)

In [15]:
print(d)

{'results': [{'name': 'Luke Skywalker', 'height': '172', 'mass': '77', 'hair_color': 'blond', 'skin_color': 'fair', 'eye_color': 'blue', 'birth_year': '19BBY', 'gender': 'male', 'homeworld': 'http://swapi.dev/api/planets/1/', 'films': ['http://swapi.dev/api/films/1/', 'http://swapi.dev/api/films/2/', 'http://swapi.dev/api/films/3/', 'http://swapi.dev/api/films/6/'], 'species': [], 'vehicles': ['http://swapi.dev/api/vehicles/14/', 'http://swapi.dev/api/vehicles/30/'], 'starships': ['http://swapi.dev/api/starships/12/', 'http://swapi.dev/api/starships/22/'], 'created': '2014-12-09T13:50:51.644000Z', 'edited': '2014-12-20T21:17:56.891000Z', 'url': 'http://swapi.dev/api/people/1/'}, {'name': 'C-3PO', 'height': '167', 'mass': '75', 'hair_color': 'n/a', 'skin_color': 'gold', 'eye_color': 'yellow', 'birth_year': '112BBY', 'gender': 'n/a', 'homeworld': 'http://swapi.dev/api/planets/1/', 'films': ['http://swapi.dev/api/films/1/', 'http://swapi.dev/api/films/2/', 'http://swapi.dev/api/films/3/', 'http://swapi.dev/api/films/4/', 'http://swapi.dev/api/films/5/', 'http://swapi.dev/api/films/6/'], 'species': ['http://swapi.dev/api/species/2/'], 'vehicles': [], 'starships': [], 'created': '2014-12-10T15:10:51.357000Z', 'edited': '2014-12-20T21:17:50.309000Z', 'url': 'http://swapi.dev/api/people/2/'}, {'name': 'R2-D2', 'height': '96', 'mass': '32', 'hair_color': 'n/a', 'skin_color': 'white, blue', 'eye_color': 'red', 'birth_year': '33BBY', 'gender': 'n/a', 'homeworld': 'http://swapi.dev/api/planets/8/', 'films': ['http://swapi.dev/api/films/1/', 'http://swapi.dev/api/films/2/', 'http://swapi.dev/api/films/3/', 'http://swapi.dev/api/films/4/', 'http://swapi.dev/api/films/5/', 'http://swapi.dev/api/films/6/'], 'species': ['http://swapi.dev/api/species/2/'], 'vehicles': [], 'starships': [], 'created': '2014-12-10T15:11:50.376000Z', 'edited': '2014-12-20T21:17:50.311000Z', 'url': 'http://swapi.dev/api/people/3/'}, {'name': 'Darth Vader', 'height': '202', 'mass': '136', 'hair_color': 'none', 'skin_color': 'white', 'eye_color': 'yellow', 'birth_year': '41.9BBY', 'gender': 'male', 'homeworld': 'http://swapi.dev/api/planets/1/', 'films': ['http://swapi.dev/api/films/1/', 'http://swapi.dev/api/films/2/', 'http://swapi.dev/api/films/3/', 'http://swapi.dev/api/films/6/'], 'species': [], 'vehicles': [], 'starships': ['http://swapi.dev/api/starships/13/'], 'created': '2014-12-10T15:18:20.704000Z', 'edited': '2014-12-20T21:17:50.313000Z', 'url': 'http://swapi.dev/api/people/4/'}, {'name': 'Leia Organa', 'height': '150', 'mass': '49', 'hair_color': 'brown', 'skin_color': 'light', 'eye_color': 'brown', 'birth_year': '19BBY', 'gender': 'female', 'homeworld': 'http://swapi.dev/api/planets/2/', 'films': ['http://swapi.dev/api/films/1/', 'http://swapi.dev/api/films/2/', 'http://swapi.dev/api/films/3/', 'http://swapi.dev/api/films/6/'], 'species': [], 'vehicles': ['http://swapi.dev/api/vehicles/30/'], 'starships': [], 'created': '2014-12-10T15:20:09.791000Z', 'edited': '2014-12-20T21:17:50.315000Z', 'url': 'http://swapi.dev/api/people/5/'}, {'name': 'Owen Lars', 'height': '178', 'mass': '120', 'hair_color': 'brown, grey', 'skin_color': 'light', 'eye_color': 'blue', 'birth_year': '52BBY', 'gender': 'male', 'homeworld': 'http://swapi.dev/api/planets/1/', 'films': ['http://swapi.dev/api/films/1/', 'http://swapi.dev/api/films/5/', 'http://swapi.dev/api/films/6/'], 'species': [], 'vehicles': [], 'starships': [], 'created': '2014-12-10T15:52:14.024000Z', 'edited': '2014-12-20T21:17:50.317000Z', 'url': 'http://swapi.dev/api/people/6/'}, {'name': 'Beru Whitesun lars', 'height': '165', 'mass': '75', 'hair_color': 'brown', 'skin_color': 'light', 'eye_color': 'blue', 'birth_year': '47BBY', 'gender': 'female', 'homeworld': 'http://swapi.dev/api/planets/1/', 'films': ['http://swapi.dev/api/films/1/', 'http://swapi.dev/api/films/5/', 'http://swapi.dev/api/films/6/'], 'species': [], 'vehicles': [], 'starships': [], 'created': '2014-12-10T15:53:41.121000Z', 'edited': '2014-12-20T21:17:50.319000Z', 'url': 'http://swapi.dev/api/people/7/'}, {'name': 'R5-D4', 'height': '97', 'mass': '32', 'hair_color': 'n/a', 'skin_color': 'white, red', 'eye_color': 'red', 'birth_year': 'unknown', 'gender': 'n/a', 'homeworld': 'http://swapi.dev/api/planets/1/', 'films': ['http://swapi.dev/api/films/1/'], 'species': ['http://swapi.dev/api/species/2/'], 'vehicles': [], 'starships': [], 'created': '2014-12-10T15:57:50.959000Z', 'edited': '2014-12-20T21:17:50.321000Z', 'url': 'http://swapi.dev/api/people/8/'}, {'name': 'Biggs Darklighter', 'height': '183', 'mass': '84', 'hair_color': 'black', 'skin_color': 'light', 'eye_color': 'brown', 'birth_year': '24BBY', 'gender': 'male', 'homeworld': 'http://swapi.dev/api/planets/1/', 'films': ['http://swapi.dev/api/films/1/'], 'species': [], 'vehicles': [], 'starships': ['http://swapi.dev/api/starships/12/'], 'created': '2014-12-10T15:59:50.509000Z', 'edited': '2014-12-20T21:17:50.323000Z', 'url': 'http://swapi.dev/api/people/9/'}, {'name': 'Obi-Wan Kenobi', 'height': '182', 'mass': '77', 'hair_color': 'auburn, white', 'skin_color': 'fair', 'eye_color': 'blue-gray', 'birth_year': '57BBY', 'gender': 'male', 'homeworld': 'http://swapi.dev/api/planets/20/', 'films': ['http://swapi.dev/api/films/1/', 'http://swapi.dev/api/films/2/', 'http://swapi.dev/api/films/3/', 'http://swapi.dev/api/films/4/', 'http://swapi.dev/api/films/5/', 'http://swapi.dev/api/films/6/'], 'species': [], 'vehicles': ['http://swapi.dev/api/vehicles/38/'], 'starships': ['http://swapi.dev/api/starships/48/', 'http://swapi.dev/api/starships/59/', 'http://swapi.dev/api/starships/64/', 'http://swapi.dev/api/starships/65/', 'http://swapi.dev/api/starships/74/'], 'created': '2014-12-10T16:16:29.192000Z', 'edited': '2014-12-20T21:17:50.325000Z', 'url': 'http://swapi.dev/api/people/10/'}]}

In [17]:
data = jsn(d['results'])
data.head()

,birth_year,created,edited,eye_color,films,gender,hair_color,height,homeworld,mass,name,skin_color,species,starships,url,vehicles
0,19BBY,2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,blue,"[http://swapi.dev/api/films/1/, http://swapi.d...",male,blond,172,http://swapi.dev/api/planets/1/,77,Luke Skywalker,fair,[],"[http://swapi.dev/api/starships/12/, http://sw...",http://swapi.dev/api/people/1/,"[http://swapi.dev/api/vehicles/14/, http://swa..."
1,112BBY,2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,yellow,"[http://swapi.dev/api/films/1/, http://swapi.d...",n/a,n/a,167,http://swapi.dev/api/planets/1/,75,C-3PO,gold,[http://swapi.dev/api/species/2/],[],http://swapi.dev/api/people/2/,[]
2,33BBY,2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,red,"[http://swapi.dev/api/films/1/, http://swapi.d...",n/a,n/a,96,http://swapi.dev/api/planets/8/,32,R2-D2,"white, blue",[http://swapi.dev/api/species/2/],[],http://swapi.dev/api/people/3/,[]
3,41.9BBY,2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,yellow,"[http://swapi.dev/api/films/1/, http://swapi.d...",male,none,202,http://swapi.dev/api/planets/1/,136,Darth Vader,white,[],[http://swapi.dev/api/starships/13/],http://swapi.dev/api/people/4/,[]
4,19BBY,2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,brown,"[http://swapi.dev/api/films/1/, http://swapi.d...",female,brown,150,http://swapi.dev/api/planets/2/,49,Leia Organa,light,[],[],http://swapi.dev/api/people/5/,[http://swapi.dev/api/vehicles/30/]

In [31]:
swapi_films_data = data

In [33]:
swapi_films_data.head(3)

,birth_year,created,edited,eye_color,films,gender,hair_color,height,homeworld,mass,name,skin_color,species,starships,url,vehicles
0,19BBY,2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,blue,"[http://swapi.dev/api/films/1/, http://swapi.d...",male,blond,172,http://swapi.dev/api/planets/1/,77,Luke Skywalker,fair,[],"[http://swapi.dev/api/starships/12/, http://sw...",http://swapi.dev/api/people/1/,"[http://swapi.dev/api/vehicles/14/, http://swa..."
1,112BBY,2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,yellow,"[http://swapi.dev/api/films/1/, http://swapi.d...",n/a,n/a,167,http://swapi.dev/api/planets/1/,75,C-3PO,gold,[http://swapi.dev/api/species/2/],[],http://swapi.dev/api/people/2/,[]
2,33BBY,2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,red,"[http://swapi.dev/api/films/1/, http://swapi.d...",n/a,n/a,96,http://swapi.dev/api/planets/8/,32,R2-D2,"white, blue",[http://swapi.dev/api/species/2/],[],http://swapi.dev/api/people/3/,[]

In [34]:
#Create a new dataFrame from existing columns

In [35]:
new_df = pd.DataFrame(swapi_films_data, columns=['name', 'gender', 'height','birth_year', 'mass', 'species'])

In [36]:
new_df

,name,gender,height,birth_year,mass,species
0,Luke Skywalker,male,172,19BBY,77,[]
1,C-3PO,n/a,167,112BBY,75,[http://swapi.dev/api/species/2/]
2,R2-D2,n/a,96,33BBY,32,[http://swapi.dev/api/species/2/]
3,Darth Vader,male,202,41.9BBY,136,[]
4,Leia Organa,female,150,19BBY,49,[]
5,Owen Lars,male,178,52BBY,120,[]
6,Beru Whitesun lars,female,165,47BBY,75,[]
7,R5-D4,n/a,97,unknown,32,[http://swapi.dev/api/species/2/]
8,Biggs Darklighter,male,183,24BBY,84,[]
9,Obi-Wan Kenobi,male,182,57BBY,77,[]

In [43]:
new_df.columns

Index(['name', 'gender', 'height', 'birth_year', 'mass', 'species'], dtype='object')

In [64]:
new_df['mass']

0     77
1     75
2     32
3    136
4     49
5    120
6     75
7     32
8     84
9     77
Name: mass, dtype: object

In [72]:
#create new columns
#new_df['bmi'] = (int(new_df["mass"]) / (int(new_df["height"]) / 100) ** 2)
# mass = float(new_df['mass'])
# height = float(new_df['height'])
# bmi = ( (mass) / ((height)/100) ** 2)
def counter(list):
    for i in list:
        print(list.values.tolist())

counter(new_df['mass'])

['77', '75', '32', '136', '49', '120', '75', '32', '84', '77']
['77', '75', '32', '136', '49', '120', '75', '32', '84', '77']
['77', '75', '32', '136', '49', '120', '75', '32', '84', '77']
['77', '75', '32', '136', '49', '120', '75', '32', '84', '77']
['77', '75', '32', '136', '49', '120', '75', '32', '84', '77']
['77', '75', '32', '136', '49', '120', '75', '32', '84', '77']
['77', '75', '32', '136', '49', '120', '75', '32', '84', '77']
['77', '75', '32', '136', '49', '120', '75', '32', '84', '77']
['77', '75', '32', '136', '49', '120', '75', '32', '84', '77']
['77', '75', '32', '136', '49', '120', '75', '32', '84', '77']

In [1]:
import bs4

In [2]:
x = 5

In [3]:
y = 4

In [4]:
z = x + x

In [5]:
z

10

In [6]:
# sytax
# data types 
# sequence types 
# collections

In [9]:
syntax = 1 
# assigned the value of 1 to variable 'syntax'

In [11]:
print(syntax)

1

In [ ]:
#