In [1]:
import numpy as np
import pandas as pd

In [9]:
data = pd.read_csv('../datasets/new_dogs.csv')

In [14]:
data

     name       breed   height_cm   weight_kg        d_o_b
0  Ginger   Dachshund          22          10   2019-03-14
1   Scout   Dalmatian          59          25   2019-05-09
2  Marley    Alsasian          56          28   2020-04-08

In [17]:
new_dogs = data.copy()

In [18]:
new_dogs

     name       breed   height_cm   weight_kg        d_o_b
0  Ginger   Dachshund          22          10   2019-03-14
1   Scout   Dalmatian          59          25   2019-05-09
2  Marley    Alsasian          56          28   2020-04-08

In [19]:
new_dogs['name']

0    Ginger
1     Scout
2    Marley
Name: name, dtype: object

In [23]:
new_dogs.columns

Index(['name', ' breed', ' height_cm', ' weight_kg', ' d_o_b'], dtype='object')

In [29]:
new_dogs[" breed"]

0     Dachshund
1     Dalmatian
2      Alsasian
Name:  breed, dtype: object

In [32]:
#We can add more columns based on a calculations

new_dogs["bmi"] = (new_dogs[" weight_kg"] / (new_dogs[" height_cm"] / 100) ** 2)

In [33]:
new_dogs

     name       breed   height_cm   weight_kg        d_o_b         bmi
0  Ginger   Dachshund          22          10   2019-03-14  206.611570
1   Scout   Dalmatian          59          25   2019-05-09   71.818443
2  Marley    Alsasian          56          28   2020-04-08   89.285714

In [35]:
#To create a new CSV file with our updates 
#use the to_csv method

In [37]:
new_dogs.to_csv("../datasets/new_dogs_with_bmi.csv")

In [38]:
#Inspect the new file created