# Reading Data with python

In [1]:
with open('../datasets/cars.csv', 'r') as cars:
    print(cars)

<_io.TextIOWrapper name='../datasets/cars.csv' mode='r' encoding='cp1252'>

In [2]:
#once the file is open we can read its content as follows 
with open('../datasets/cars.csv', 'r') as cars:
    for index, line in enumerate(cars.readlines()):
        #read just the first 10 lines 
        if(index < 10):
            print(index, line)

0 Car,Model,Volume,Weight,CO2

1 Toyoty,Aygo,1000,790,99

2 Mitsubishi,Space Star,1200,1160,95

3 Skoda,Citigo,1000,929,95

4 Fiat,500,900,865,90

5 Mini,Cooper,1500,1140,105

6 VW,Up!,1000,929,105

7 Skoda,Fabia,1400,1109,90

8 Mercedes,A-Class,1500,1365,92

9 Ford,Fiesta,1500,1112,98

In [3]:
# to process this data further, involves a lot of manual work e.g spliting values by the correct separator etc.

In [4]:
# Avoid all this by using pandas

# Reading Data from Data bases

In [5]:
# sql db

# Reading data from html tables

In [6]:
import pandas as pd

In [7]:
data = pd.read_html('https://en.wikipedia.org/wiki/Body_mass_index') #looks for multiple tables

In [10]:
len(data) # shows how many tables

9

In [15]:
df = data[2] # third table

In [16]:
df

                                Category BMI (kg/m2)       BMI Prime
                                Category        from    to      from    to
0              Very severely underweight         NaN  15.0       NaN  0.60
1                   Severely underweight        15.0  16.0      0.60  0.64
2                            Underweight        16.0  18.5      0.64  0.74
3                Normal (healthy weight)        18.5  25.0      0.74  1.00
4                             Overweight        25.0  30.0      1.00  1.20
5       Obese Class I (Moderately obese)        30.0  35.0      1.20  1.40
6        Obese Class II (Severely obese)        35.0  40.0      1.40  1.60
7  Obese Class III (Very severely obese)        40.0   NaN      1.60   NaN